.about-container {
    height: 100vh;
    background-color: rgba(21, 37, 53, 0.009);
    padding: 2rem;
    border-radius: 15%;
    .about-body {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .about-info {
            max-width: 500px;
            font-size: 1.5rem;
            line-height: 35px;
            font-family: 'Nanum Gothic';
        }

        .about-img {
            height: 250px;
            width: 250px;
            border-radius: 50%;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
        div {
            gap: 20px;
        }
    }
}