.about-container {
  // padding-inline: 10rem;
  min-height: 100vh;
  color: rgb(238, 237, 237);

  .bg-wrapper {
    position: absolute;
    top: 0;
  }
  .blob-bg {
    min-height: 750px;
    min-width: 550px;
    position: relative;
    top: 350px;
    left: 50%;
    transform: translate(-65%, -50%);


    z-index: -1;
    color: #f5f5f5;

  }

  .big-header {
    color: rgb(238, 237, 237);
  }

  .github-icon {
    filter: invert(99%) sepia(93%) saturate(2%) hue-rotate(106deg)
      brightness(113%) contrast(101%);
  }
  .skills-about {
    .skill-preview {
      padding: 0.2rem;
      outline: 3px solid rgba(178, 170, 185, 0.573);
      border-radius: 5px;
      border: 1.5px solid rgb(217, 217, 217);
      background-color: rgba(237, 237, 237, 0.69);
      display: flex;
      align-items: center;
    }
  }

  .about-header {
    margin-block-end: 2rem;
  }

  @media (max-width: 1100px) {
    padding-inline: 2rem;
    margin-block-start: 0.5rem;
  }
  .about-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 1.5rem;
    border-radius: 25px;
    // padding: 1rem;
    @media (max-width: 800px) {
      font-size: 1.1rem;
      position: relative;
      bottom: 2rem;
    }

    .about-info {
      max-width: 500px;
      line-height: 35px;
      font-family: 'Lato';
      text-align: center;
    }

    .about-img {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      background: url('https://gcdnb.pbrd.co/images/bWgLVYWD8SYr.png?o=1');
      background-size: contain;
      transition: all 0.4s ease;
      background-repeat: no-repeat;
      background-position: center;
      @media (max-width: 420px) {
        height: 250px;
        width: 250px;
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    margin-block: 2rem;
    div {
      gap: 20px;
    }
    // background: linear-gradient(to left, rgba(92, 0, 122, 0.5), rgba(151, 0, 201, 0.7));
  }
  .skills-about {
    margin-top: 1rem;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    .skill-preview {
      padding: 0.2rem;
      outline: 3px solid rgba(178, 170, 185, 0.573);
      border-radius: 5px;
      border: 1.5px solid rgb(217, 217, 217);
      background-color: rgba(175, 175, 175, 0.833);
      // width: 150px;
    }
  }
}

.contact-ways {
  img {
    height: 50px;
  }

  .gmail-img {
    margin-top: 5px;
  }
}
