.header-container {
  background-color: transparent;
  color: #201d21;
  .logo {
    max-height: 175px;

    @media(max-width: 1500px) {
      max-height: 150px;
    }    

  }

  &.night  {
    // box-shadow: 0 5px 50px 10px rgba(45, 44, 44, 0.337);
    color: rgb(220, 217, 217);

    .nav-link {
      .dot {
        border-radius: 0;
      }
    }
  }

  .header-logo {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    user-select: none;
    width: 100%;
    justify-content: center;
    margin-block: 1rem;

  }
  nav {
    gap: 20px;
    align-items: center;
    font-family: 'Lato', sans-serif;
    user-select: none;
    flex-basis: 50%;
    ul {
      gap: 15px;
    }
    .nav-link {
      transition: 0.3s all;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      position: relative;
      padding-block-end: 3px;
      font-size: 1.2rem;
      @media (max-width: 600px) {
        padding-block-end: 0;
        margin-block-end: 1rem;
      }

      .dot {
        position: relative;
        bottom: -19px;
        left: 50%;
      }

      &.active {
        & .dot {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    li {
      gap: 1.5px;


      &:not(.active):hover .dot {
        transition: all .25s ease-in-out;
        transform: translateX(0);
        opacity: 1;
        position: relative;
      }
    }
  }

}

