.header-container {
  background-color: transparent;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 150px;
  backdrop-filter:blur(200px);
  background-color: rgba(240, 248, 255, 0.119);
  transform: translateX(-95%);
  transition: transform ease .2s;
  &.show-nav {
    transform: translateX(0);
    background:linear-gradient( to bottom, rgb(0, 40, 53), rgb(0, 97, 130));

    button {
      transform: rotate(0);
    }
  }
  button {
    position: relative;
    left: 80px;
    top: 20%;
    transform: rotate(180deg);
  }
  nav {
    gap: 20px;
    align-items: center;
    font-family: 'Lato', sans-serif;
    user-select: none;
    flex-basis: 50%;
    ul {
      gap: 15px;
      flex-direction: column;
    }
    .nav-link {
      transition: 0.3s all;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      position: relative;
      padding-block-end: 3px;
      font-size: 1.2rem;
      filter: invert(100%);
      @media (max-width: 600px) {
        padding-block-end: 0;
        margin-block-end: 1rem;
      }
      &:hover {
        filter: invert(70%);
      }
    }

    li {
      gap: 1.5px;


      &:not(.active):hover .dot {
        transition: all .25s ease-in-out;
        transform: translateX(0);
        opacity: 1;
        position: relative;
      }
    }
  }

}

