footer {
    align-items: center;
    gap: 0;
    flex-direction: column;

    &.night {
        color: whitesmoke;
    }

    span {
        gap: 5px;
    }

    .skill-preview {
        img {
            width: 30px;
        }
    }
}