footer {
  align-items: center;
  gap: 0;
  flex-direction: column;
  color: whitesmoke;

  span {
    gap: 5px;
  }

  .skill-preview {
    img {
      width: 30px;
    }
  }

  @media (max-width: 500px) {
    font-size: 0.7rem;
  }
}
