.hero-container {
  font-family: 'Staatliches', sans-serif;
  color: black;
  padding: 1rem;
  position: relative;
  
  @media(max-width: 1500px) {
    padding: 0;
    margin-block-start: 1rem;
  }

  &.night {
    color: whitesmoke;

    .hero-skills {
      background-color: rgba(251, 249, 249, 0.2);
    }

  }
  .hero-title {
    display: flex;
    justify-content: center;
    transition: opacity 1s linear, transform 1s ease-in-out;
    font-size: 5rem;
    text-align: center;
    line-height: 90px;

    p.purple {
      position: relative;
      bottom: 10px;
    }

    @media(max-width: 1500px) {
      font-size: 3.5rem;
      line-height: 51px;
    }

    @media(max-width: 600px) {
      line-height: 45px;
      font-size: 3rem;
    }
  }
  
  .hero-skills {
    font-size: 2rem;
    background-color: rgba(231, 229, 232, 0.8);
    width: 100vw;
    margin-block-start: 1rem;
    overflow: hidden;
    max-height: 120px;



    ul {
      justify-content: flex-end;
      gap: 20px;
      align-items: center;
      padding: 1rem;
      transform-style: preserve-3d;
      animation: three-dimensions-circle 30s linear infinite;


      @media(max-width:550px) {
        padding: 0;
      }
      li {
        img {
          height: 75px;
          @media(max-width:550px) {
            min-height: 50px;
            min-width: 50px;
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  @keyframes three-dimensions-circle {
    0% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(-100vw);
    }
  
  }
}
@media (max-width: 1600px) {
  @keyframes three-dimensions-circle {
    0% {
      transform: translateX(80vw);
  
    }
    100% {
      transform: translateX(-100vw);
    }
  
  }

}
@media (max-width: 850px) {
  @keyframes three-dimensions-circle {
    0% {
      transform: translateX(140vw);
  
    }
    100% {
      transform: translateX(-100vw);
    }
  
  }

}


.small-txt {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-family: 'Lato';
  text-transform: uppercase;
  @media(max-width: 1500px) {
    font-size: 1rem;
  }
}

.hero-details {
  font-size: 1.5rem;
  font-family: 'Lato';
  margin-block-start: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .mail-link {
    width: fit-content;
    align-self: center;
  }

  .Typewriter__wrapper {
    font-size: 2rem;

    @media(max-width: 800px) {
      font-size: 1.5rem;
    }
  }
  .Typewriter__cursor {
    color: transparent;
}
}
