.hero-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;

  canvas {
    height: 420px;
    width: 420px;
  }

  @media(max-width:900px) {
    flex-direction: column;
  }

  @media(max-width: 740px) {
    .canvas-image {
      max-width: 320px;
      position: relative;
      top: 55px;
    }
  }
  align-items: center;

}

.hero-container {
  font-family: 'Staatliches', sans-serif;
  color: black;
  // padding: 1rem;
  position: relative;

  @media (max-width: 1500px) {
    padding: 0;
  }

  &.dark {
    color: whitesmoke;

    .hero-skills {
      background-color: rgba(251, 249, 249, 0.2);
    }

    .Typewriter__wrapper {
      color: whitesmoke;
    }
  }

  .blob-bg {
    min-height: 750px;
    min-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    filter: invert(50%) sepia(200%) saturate(250%) hue-rotate(298deg) brightness(50%) contrast(100%);


    z-index: -1;
    color: #f5f5f5;

  }
  .hero-title {
    // display: flex;
    justify-content: center;
    // transition: opacity 1s linear, transform 1s ease-in-out;
    font-size: 5rem;
    // text-align: center;
    // line-height: 90px;
    color: #f5f5f5;
    p.purple {
      position: relative;
      bottom: 10px;
    }

    @media (max-width: 1600px) {
      font-size: 3.5rem;
      line-height: 51px;
    }

    @media (max-width: 600px) {
      line-height: 45px;
      font-size: 3rem;
      justify-content: center;
      text-align: center;

    }
  }

  .hero-details {
    font-size: 1.5rem;
    font-family: 'Lato';
    // margin-block-start: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .mail-link {
      width: fit-content;

      @media(max-width: 600px) {
        align-self: center;
      }
    }

    .Typewriter__wrapper {
      font-size: 2rem;

      @media (max-width: 800px) {
        font-size: 1.5rem;
      }
    }
    .Typewriter__cursor {
      color: transparent;
    }
  }

}

// .arrow-wrapper {
//   position: absolute;
//   z-index: -1;
//   max-width: 250px;
//   filter: invert(100%) sepia(5%) saturate(7449%) hue-rotate(120deg) brightness(113%) contrast(121%);
//   // transform: translate(-50%, 20%);
//   right: 350px;
//   .arrow-img {
//     position: relative;
//     opacity: 0.75;
//     transform: rotate(180deg);
//     bottom: 400px;
//   }
//   span {
//     position: relative;
//     bottom: 200px;
//   }
  
//   span {
//     font-family: 'Sue Ellen Francisco';
//     font-size: 3rem;
//     left: 550px;
//   }
//   @media(max-width: 1550px) {
//     max-width: 200px;
//     bottom: 100px;
//     transform: translateX(-110px);
//   }
//  @media(max-width: 1000px) {
//   display: none;
//  } 
// }

.arrows {
	width: 60px;
	height: 72px;
	position: relative;
	left: 50%;
	margin-left: -30px;
}

.arrows path {
	stroke: #661528;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.arrows-link {
  position: absolute;
  bottom: 0;
}