
.projects-container {
    min-height: 100vh;
    color: rgba(33, 28, 28, 0.089);
    background-color: rgba(21, 37, 53, 0.01);
    padding: 2rem;
    margin-block: 1rem;
    border-radius: 40%;

    .projects-body {
    }
}