.projects-container {
  min-height: 100vh;
  color: #f5f5f5;
  margin-block-start: 2rem;
  @media (max-width: 1100px) {
    padding: 2rem;
    margin-block-start: 0.5rem;
  }

  @media (max-width: 600px) {
    padding: 0.7rem;
    margin-block-start: 1rem;
  }

  .project-skills {
    padding: 1rem;
    display: flex;
    align-items: center;

    .skill-list {
      gap: 5px;
    }
  }

  .projects-body {
    border-radius: 25px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    place-content: center;
    gap: 50px;
    @media (max-width: 1100px) {
      border: none;
      outline: none;
      background-color: transparent;
    }

    @media (max-width: 970px) {
      grid-template-columns: minmax(300px, 500px);
    }
  }
  .hide {
    opacity: 0;
    transition: opacity 0.6 ease;
  }
}
