.project-preview {

    border-radius: 5px;

    .small-title {
        font-size: 1.5rem;
    }
    .project-thumbnail {
        max-width: 300px;
        cursor: pointer;
        transition: all .3s ease;
        margin-block-start: 1rem;
        &:hover {
            transform: scale(1.2); 
        }
    }

    .project-skills {
        gap: 15px;
        .skill-preview {
            img {
                max-width: 40px;
            }
        }

        .skill-list {
            gap: 10px;
        }
    }
}