.project-preview {
  gap: 50px;
  border-bottom: 1px solid rgba(144, 144, 144, 0.269);
  padding-block: 50px;
  .small-title {
    font-size: 2.5rem;

    @media(max-width: 800px) {
      font-size: 1.5rem;
    }
  }

  .thumbnail-container {
    transition: transform 0.3s linear;

    .project-thumbnail {
      max-width: 500px;
      transition: transform ease .3s;

      @media(max-width: 680px) {
        max-width: 300px;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-list {
    // justify-content: center;
    .skill-preview {
      img {
        max-width: 40px;

      }
    }
    position: relative;
    bottom: 15px;
    gap: 10px;
  }

  .project-details {
    gap: 15px;
    .description {
      font-size: 1.4rem;
      max-width: 650px;
      line-height: 35px;
      font-family: Arial, Helvetica, sans-serif;
      min-height: 150px;
      word-break: keep-all;

      @media(max-width: 800px) {
        font-size: 1rem;
      }
    }

    .project-actions {
      display: flex;
      gap: 15px;

      .nice-button {
        padding: 0.5rem;
        font-size: 1rem;
      }
    }
    @media (max-width: 1100px) {
      text-align: center;
      align-items: center;
    }
  }

  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 15px;
  }

  &:last-child {
    border-bottom: none;
  }

  &:first-child {
    padding-top: 0;
  }
}
