// Font Sizes
.sm-font { font-size: rem(14px); }
.md-font { font-size: rem(20px); }
.lg-font { font-size: rem(30px); }
.xl-font { font-size: rem(40px); }

// List
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &>li {
        margin: 0;
        padding: 0;
    }
}

// Buttons

.nice-button {
    border: none;
    padding: 15px;
    color: whitesmoke;
    font-size: 1rem;
    background: linear-gradient(to right, rgb(110, 15, 0), rgb(103, 4, 42));
    border-radius: 3px;
}
.simple-button {
    background: transparent;
    color: black;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    opacity: 0.6;
    transition: 0.3s all;
    padding: 0;
    cursor: pointer;

    &:disabled {
        cursor: initial;
        opacity: 0.2;
    }

    i {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    &:hover:not(:disabled) {
        opacity: 1;
    }
}

.medium-button { font-size: 1.5rem; }

// Transitions
.fast-trans { transition: 0.25s all; }
.normal-trans { transition: 0.4s all; }
.slow-trans { transition: 0.7s all; }


// Spacing
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m20 { margin: 20px; }

// Normalize Background
.normBackground {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

// Dividing
.bottom-divider {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}


// Others
.blurred { filter: blur(4px); }

.purple {
    color: #852ba0;
  }
.simple-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 15px auto;

    &>*:not(:last-child) {
        margin-bottom: 10px;
    }

    input:not([type="checkbox"]),
    button {
        padding: 5px 8px;
        width: 100%;
    }

    .form-errors {
        text-align: center;
        margin-top: 24px;
        color: red;
        font-size: 15px;
    }
}

.dot {
    height: 7.5px;
    width: 7.5px;
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(to top, #f67910, #f5a410);
}

.page-headline {
    color: grey;
    font-size: 2rem;
    font-family: 'Noto Sans KR';
  }

  .small-title {
    color: #5e6c84;
    font-size: 0.8571428571rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    font-size: 0.8rem;
    margin-top: 5px;
    text-transform: uppercase;
    padding-block: 1rem;

    &.smaller {
        font-size: 0.7rem;
    }
  }

  .svg-small {
    max-width: 40px;
  }

  .svg-medium {
    max-width: 60px;
  }