// Externals
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato&family=Lexend+Deca:wght@300&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@700&family=Satisfy&family=Staatliches&family=Thasadith:wght@700&family=Varela+Round&display=swap');


// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/animations";

// Cmps
@import "cmps/app-header";
@import "cmps/hero";
@import "cmps/projects";
@import "cmps/about";
@import "cmps/skills";
@import "features/dark-mode";
@import "cmps/project-preview";
@import "cmps/footer";
// Pages

@import "pages/hero-details";

#tsparticles {
    display:block;
    background: #140406dd;
    position: absolute;
    top: 150px;
    z-index: 1;
    opacity: 0.9;
    transition: all 0.3 ease;
    canvas {
      position: absolute;
       max-height: 150px;
    }
    &.hide {
      canvas {
        transition: transform 0.3 ease;
        top: -150px;
        transform: translateY(-150px);
      }
    }
}

.big-header {
  font-size: 72px;
  color: rgb(30, 28, 28);
  font-family: 'Staatliches', sans-serif;
  text-align: center;
  text-shadow: 5px 0 20px rgba(255, 195, 255, 0.3);
}