// Externals
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@700&family=Satisfy&family=Staatliches&family=Thasadith:wght@700&family=Varela+Round&display=swap');


// Basics
@import "basics/typography";
@import "basics/base";
@import "basics/helpers";
@import "basics/layout";
@import "basics/modals";
@import "basics/animations";

// Cmps
@import "cmps/app-header";
@import "cmps/hero";
@import "cmps/projects";
@import "cmps/about";
@import "cmps/shooting-stars";
@import "cmps/project-preview";

// Pages

@import "pages/hero-details";

#tsparticles {
    display:block;
    background: #140406dd;
    position: absolute;
    top: 200px;
    z-index: 1;
    opacity: 0.9;
    canvas {
        position: absolute;
        max-height: 150px;
    }
}

.svg-title {
    z-index: -1;
    max-height: 150px;
    width: 100%;
}
#s-text, #about-txt, #skills-txt {
    font-size: 3.5rem;
  }
  $colors: #d86bfdc0, #a256ffcf, #8855ffb6, #a556f9d5, #7e61feda;
  $max: 5;
  $stroke-step: 7%; 
  .text-copy, .about-title, .skills-copy {
    fill: none;
    // fill: rgba(255, 255, 255, 0.09);
    stroke: white;
    stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
    stroke-width: 3px;
    animation: stroke-offset 9s 1s 1 forwards;
    @for $item from 1 through $max {
      $stroke-color: nth($colors, $item);
      
      &:nth-child(#{$item}) {
        stroke: $stroke-color;
        stroke-dashoffset: $stroke-step * $item;
        }
      }
    }
  
  @keyframes stroke-offset {
    50% {
      stroke-dashoffset: $stroke-step * $max;  
      stroke-dasharray: 0 $stroke-step * $max*2.5;
    }
  }
  
  .go-to-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
    justify-content: center;

}

