.btn {
    font-family: inherit;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 5px;
    transition: .2s ease;
    font-family: 'Roboto';
    background-color: #2a1e3d;
    &.shadow {
      box-shadow: 1px 1px 3px rgba(40, 40, 40, 0.714);
    }
    &.icon-left {
      flex-direction: row;
    }
  
    &.icon-right {
      flex-direction: row-reverse;
    }
  
    &.outline, &.text {
      background-color: transparent;
      box-shadow: none;
      &:hover {
        background-color:#e6d7ff;
      }
    }
  
    &.default {
      &:hover {
        background-color: black;
        opacity: 0.9;
      }
    }
    * {
      pointer-events: none;
    }
  
    &:disabled, &[disabled=disabled] {
      color: rgba(100, 100, 100, 0.879) !important;
      background-color: rgba(210, 198, 214, 0.579);
      cursor: default;
      user-select: none;
      box-shadow: none;
  
      &:hover, &:focus {
        background-color: rgba(210, 198, 214, 0.579)    }
    }
  
    &.md {
      padding-inline: 1rem;
      font-size: 1.2rem;
    }
  
    &.lg {
      padding: 1.5rem;
      font-size: 1.5rem;
      
      @media(max-width: 600px) {
        padding: 0.5rem;
        font-size: 1.1rem;
      }
    }

  }
  