.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 35px;
    height: 15px;
    background-color:#f1f1f1;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    transform: scale(1.5);
    right: 20px;
    top: 40px;

  }
  
  .ball {
    width: 11px;
    height: 11px;
    background-color: #111;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(20px);
    background-color: #111;

  }

  .checkbox:checked + .label {
    background-color:#f1f1f1;
  }
  